################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IceNineMedia.Core/bin/Debug/net9.0
/.vs/IceNineMediaApp/CopilotIndices/17.12.53.23981
/IceNineMedia.Core/obj
/.vs/IceNineMediaApp
