################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IceNineMedia.Core/bin/Debug/net9.0
/.vs/IceNineMediaApp/CopilotIndices/17.12.53.23981
/IceNineMedia.Core/obj
/.vs/IceNineMediaApp
/.vs/ProjectEvaluation
/IceNineMedia.Tests/obj
/IceNineMedia.Tests/bin/Debug/net9.0
/IceNineMedia.Core/appsettings-schema.json
/IceNineMedia.Core/appsettings-schema.Umbraco.Cms.json
/IceNineMedia.Core/umbraco-package-schema.json
/IceNineMedia.Web/wwwroot/css/output.css
/.vs/CopilotSnapshots/90A50583706F1B4DAE36BB5EB88A9216
/.vs/CopilotSnapshots/F3E420B0FD6EB147BD5517D56C4C945F
/.vs/CopilotSnapshots/5390FE5D42108B45B5734632074A4A28
/.vs/CopilotSnapshots/F87FBA5E9224DB47BCD825D929BF2EDA
/.vs/CopilotSnapshots
