<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5e9f095-2c10-435a-b714-1b76afb74cd2" Alias="about" Level="1">
  <Info>
    <Name>About</Name>
    <Icon>icon-directions color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5f9d1578-5a9c-42dc-8676-f03e4ff19c34">contentBase</Composition>
      <Composition Key="162b6822-2fac-46f0-be2e-b23afec23558">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>