@using Umbraco.Cms.Core.Models
@code {
    [Parameter]
    public IEnumerable<Link> Navigation { get; set; } = Enumerable.Empty<Link>();

    [Parameter]
    public EventCallback OnCloseMenu { get; set; }
}

<menu class="mobile-menu-items">
    @foreach (var navItem in Navigation)
    {
        <li class="py-2"><a class="text-white text-xl hover:text-gray-300 transition-colors duration-200" target="@navItem.Target" href="@navItem.Url" @onclick="OnCloseMenu">@navItem.Name</a></li>
    }
</menu>