@page "/about"
@using IceNineMedia.Core.Features.About
@using IceNineMedia.Core.Features.Shared
@using IceNineMedia.Core.Features.Shared.Abstractions
@using static IceNineMedia.Core.Features.Shared.AppConstants

@inject IUmbracoHelperService UmbracoHelperService
@inject IHttpContextAccessor ContextAccessor

@code {
    private AboutViewModel? aboutPage = null;
    private bool isInitialized = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            aboutPage = UmbracoHelperService.GetAboutContent(Slugs.About);
            isInitialized = true;
            StateHasChanged();
        }
    }
}

@if (!string.IsNullOrEmpty(aboutPage?.Title))
{
    <h1>@aboutPage.Title</h1>
}