@page "/"
@using IceNineMedia.Core.Features.Home
@using IceNineMedia.Core.Features.Shared
@using IceNineMedia.Core.Features.Shared.Abstractions
@using static IceNineMedia.Core.Features.Shared.AppConstants

@inject IUmbracoHelperService UmbracoHelperService

@code {
    private HomeViewModel? homePage = null;
    private bool isInitialized = false;
    private List<string> title = [];
    private string mainBody = string.Empty;

    protected override void OnAfterRender(bool firstRender)
    {
    if (firstRender && !isInitialized)
        {
            homePage = UmbracoHelperService.GetHomeContent(ContentSlugs.Home);
         if (homePage is not null && !string.IsNullOrEmpty(homePage?.Title))
{
      title = homePage.Title.Split(' ').ToList();
   }
     if (homePage is not null && homePage.MainBody is not null)
 {
              mainBody = homePage?.MainBody?.ToString() ?? string.Empty;
     }
     isInitialized = true;
       StateHasChanged();
        }
    }
}

@if (title.Any())
{
    <div class="mb-4">
    <h1 class="full-width-header flex justify-between">
          <span class="title-first">@title.First()</span>
        <span class="title-last">@title.Last()</span>
        </h1>
    </div>

    @if (!string.IsNullOrEmpty(mainBody))
    {
        <div class="main-body-content p-0">
            @((MarkupString)mainBody)
  </div>
    }
}