@page "/"
@using IceNineMedia.Core.Features.Home
@using IceNineMedia.Core.Features.Shared
@using IceNineMedia.Core.Features.Shared.Abstractions

@inject IUmbracoHelperService UmbracoHelperService
@inject IHttpContextAccessor ContextAccessor

@code {
    private HomeViewModel? homePage = null;
    private bool isInitialized = false;
    private List<string> title = [];

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            homePage =  UmbracoHelperService.GetHomeContent("/");
            if (!string.IsNullOrEmpty(homePage?.Title))
            {
                title = homePage.Title.Split(' ').ToList();
            }
            isInitialized = true;
            StateHasChanged();
        }
    }
}

@if (title.Any())
{
    <h1 class="full-width-header">
        @title.First() <span class="last-name">@title.Last()</span>
    </h1>
}