@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF5E43;
    color: white;
    padding: 1rem;
}

footer {
    background-color: #FF5E43;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

body {
    background-color: #FF5E43;
}