@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF5E43;
    color: white;
    padding: 1rem;
}

footer {
    background-color: #FF5E43;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

body {
    background-color: #FF5E43;
}

.full-width-header {
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 150px;
}

.title-first {
    text-align: left;
}

.title-last {
    text-align: right;
    position: relative;
    top: 200px;
    margin-bottom: 160px;
}

.main-body-content {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    text-align: left;
    margin-top: 200px;
    font-weight: 300;
    line-height: 1.4;
    padding: 0;
}

@media (max-width: 2000px) {
    .full-width-header {
        font-size: 10rem;
    }

    .title-first,
    .title-last {
        font-size: 10rem;
    }

    .title-last {
        top: 180px;
        margin-bottom: 140px;
    }

    .main-body-content {
        margin-top: 120px;
    }
}

@media (max-width: 1500px) {
    .full-width-header {
        font-size: 9rem;
        margin-top: 50px;
    }

    .title-first,
    .title-last {
        font-size: 9rem;
    }

    .title-last {
        top: 160px;
        margin-bottom: 120px;
    }

    .main-body-content {
        font-size: 1.8rem;
        margin-top: 80px;
    }
}

@media (max-width: 1300px) {
    .full-width-header {
        font-size: 7rem;
    }

    .title-first,
    .title-last {
        font-size: 7rem;
    }

    .title-last {
        top: 140px;
        margin-bottom: 100px;
    }

    .main-body-content {
        font-size: 1.6rem;
        margin-top: 60px;
    }
}

@media (max-width: 850px) {
    .full-width-header {
        font-size: 5rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .title-first,
    .title-last {
        font-size: 5rem;
    }

    .title-last {
        top: 0;
        margin-bottom: 0px;
    }

    .main-body-content {
        font-size: 1.4rem;
        margin-top: 40px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .full-width-header {
        font-size: 3rem;
        justify-content: center;
        gap: 0.75rem;
    }

    .title-first,
    .title-last {
        font-size: 3rem;
    }

    .title-last {
        top: 0;
        margin-bottom: 0px;
    }

    .main-body-content {
        font-size: 1.2rem;
        margin-top: 30px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .full-width-header {
        font-size: 2.5rem;
        margin-top: 20px;
        gap: 0.5rem;
    }

    .title-first,
    .title-last {
        font-size: 2.5rem;
    }

    .title-last {
        top: 0;
        margin-bottom: 0px;
    }
}
