<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bb874d4-f7c7-4527-87b2-fd7e839232bc" Alias="About Block - Teaser - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>About Block - Teaser - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.WordCount"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "statusbar": [
    [
      "Umb.Tiptap.Statusbar.ElementPath"
    ],
    [
      "Umb.Tiptap.Statusbar.WordCount"
    ]
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.Redo",
        "Umb.Tiptap.Toolbar.StyleSelect",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight",
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.TextOutdent",
        "Umb.Tiptap.Toolbar.TextIndent",
        "Umb.Tiptap.Toolbar.HorizontalRule",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.TextDirectionRtl",
        "Umb.Tiptap.Toolbar.TextDirectionLtr",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink",
        "Umb.Tiptap.Toolbar.SourceEditor",
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia",
        "Umb.Tiptap.Toolbar.ClearFormatting"
      ]
    ]
  ]
}]]></Config>
</DataType>