<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62cdb39b-208e-4b62-a725-a867cdcb8881" Alias="Home - ContentBlocks - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - ContentBlocks - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f3dc4d4e-a246-41be-b3e5-d7443eebe686",
      "backgroundColor": "#d908088c"
    }
  ]
}]]></Config>
</DataType>