<?xml version="1.0" encoding="utf-8"?>
<DataType Key="225b8c9f-ba66-4ea9-8a1a-d6d5af880a66" Alias="Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>