<?xml version="1.0" encoding="utf-8"?>
<DataType Key="409dd353-be37-4fea-bfb5-fd05caee28e3" Alias="SiteSettings - Contact Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>SiteSettings - Contact Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>