<?xml version="1.0" encoding="utf-8"?>
<Content Key="273f4815-2d6b-4767-8491-4a55271623c1" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-02-10T15:54:38</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[john0mckillip@gmail.com]]></Value>
    </contactEmail>
    <copyright>
      <Value><![CDATA[Ice Nine Media - John McKillip]]></Value>
    </copyright>
    <introText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EBased in \u003Cbr\u003EBatavia, Illinois\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </introText>
    <navigation>
      <Value><![CDATA[[
  {
    "name": "ABOUT",
    "target": null,
    "udi": null,
    "url": "",
    "queryString": "#section-about"
  }
]]]></Value>
    </navigation>
  </Properties>
</Content>