<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ae56713-c4d3-4541-b4ba-e09a53d667c3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-01-30T12:28:05</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[John McKillip | Azure Architect & Security Lead]]></Value>
    </browserTitle>
    <contentBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f3dc4d4e-a246-41be-b3e5-d7443eebe686",
      "key": "66861553-8e89-4957-8436-ab5c98c19a27",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT"
        },
        {
          "alias": "teaser",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EI architect enterprise systems on Azure, lead .NET/C# development initiatives, and champion security-first practices across the software development lifecycle.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "mainBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EI combine technical depth with strategic leadership\u2014from designing robust system integrations and data architectures to mentoring engineers and establishing DevOps excellence. My recent transition to Security Lead reflects my commitment to embedding security at every layer, from cloud infrastructure to application code.\u003Cbr\u003E\u003Cbr\u003ECore expertise: Azure Cloud Architecture \u2022 .NET/C# Development \u2022 Application Security \u2022 CI/CD \u0026amp; DevOps \u2022 System Integration \u2022 Team Building \u0026amp; Mentorship \u2022 Agile Leadership\u003Cbr\u003E\u003Cbr\u003EWhen I\u0027m not architecting solutions or reviewing security postures, you\u0027ll find me exploring new music, advocating for accessible UX design, riding my bike or diving into a great horror book.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Principle Software Engineer and Security Lead at Tonic",
              "target": "_blank",
              "udi": null,
              "url": "https://hellotonic.com/",
              "queryString": null
            },
            {
              "name": "Connect With Me on LinkedIn",
              "target": "_blank",
              "udi": null,
              "url": "https://www.linkedin.com/in/johnmckillip/",
              "queryString": null
            },
            {
              "name": "Currently Reading",
              "target": "_blank",
              "udi": null,
              "url": "https://www.goodreads.com/review/list/105101087-john-mckillip?ref=nav_mybooks\u0026shelf=currently-reading",
              "queryString": null
            },
            {
              "name": "Currently Listening To",
              "target": "_blank",
              "udi": null,
              "url": "https://open.spotify.com/user/jmckillip5000?si=13850adf52ae4c2e",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "66861553-8e89-4957-8436-ab5c98c19a27",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "66861553-8e89-4957-8436-ab5c98c19a27",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentBlocks>
    <disableSearchIndexing>
      <Value><![CDATA[]]></Value>
    </disableSearchIndexing>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromSitemap>
    <mainBody>
      <Value><![CDATA[{
  "markup": "\u003Ch2 class=\u0022home-intro\u0022\u003ESoftware engineering leader with deep expertise in building secure, scalable cloud solutions and high-performing engineering teams.\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </mainBody>
    <metaAuthor>
      <Value><![CDATA[John McKillip]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[John McKillip- Principal Software Engineer & Security Lead specializing in Azure cloud architecture, .NET/C# development, and security-first practices. I design enterprise systems, lead DevOps initiatives, and mentor engineering teams.]]></Value>
    </metaDescription>
    <title>
      <Value><![CDATA[JOHN MCKILLIP]]></Value>
    </title>
  </Properties>
</Content>